.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}

.gallery img {
  width: 250px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
  box-sizing: border-box;
  filter: grayscale(100%);
}

.gallery img:hover {
  box-shadow: 0 6px 6px #00000010;
}
